In [1]:
from collections import defaultdict

import numpy as np
import pandas as pd

from extract_drives import team_drives_pipeline

In [34]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
teams = [
    'PHI', 'ATL', 'BUF', 'BAL', 'CLE', 'PIT', 'IND', 'CIN', 'MIA',
    'TEN', 'SF', 'MIN', 'HOU', 'NE', 'TB', 'NO', 'NYG', 'JAX', 'KC',
    'LAC', 'ARI', 'WAS', 'CAR', 'DAL', 'SEA', 'DEN', 'CHI', 'GB',
    'DET', 'NYJ', 'LA', 'OAK', 'JAC', 'SD', 'STL'
]

In [3]:
def score_team(team, game_file):
    team_drives = team_drives_pipeline(
        game_file=game_file, team=team, side='o',
        url='http://www.nfl.com/liveupdate/game-center/'
    )
    df = pd.DataFrame(team_drives)
    df['drive_id'] = df.index
    df['points'] = 0
    df.loc[df['result'] == 'Touchdown', 'points'] = 7
    df.loc[df['result'] == 'Field Goal', 'points'] = 3
    df['total_yards'] = df['penalty_yards'] + df['yards_gained']
    lower = np.arange(0, 100, 25)
    upper = np.arange(25, 125, 25)
    bins_list = list(zip(lower, upper))
    bins = pd.IntervalIndex.from_tuples(bins_list)
    df['yard_line_bin'] = pd.cut(df['start_yard_line'], bins)
    df['yard_line_bin'] = df['yard_line_bin'].map(lambda x: '%s-%s' % (x.left, x.right))
    agg = df.groupby('yard_line_bin').agg(
        {'points': 'mean', 'drive_id': 'count', 'total_yards': 'median'}
    )
    agg.rename({'points': 'mean_points', 'drive_id': 'drive_count', 'total_yards': 'avg_yards'}, 
               axis=1, inplace=True)
    return agg

In [4]:
team_summaries = defaultdict(dict)

for season in range(2009, 2019):
    for team in teams:
        try:
            team_summaries[season][team] = score_team(
                team, game_file='./data/%i_games_dict.json' % season
            )
        except:
            print(season, team)

2009 JAX
2009 LAC
2009 LA
2010 JAX
2010 LAC
2010 LA
2011 JAX
2011 LAC
2011 LA
2012 JAX
2012 LAC
2012 LA
2013 JAX
2013 LAC
2013 LA
2014 JAX
2014 LAC
2014 LA
2015 JAX
2015 LAC
2015 LA
2016 LAC
2016 STL
2017 JAC
2017 SD
2017 STL
2018 JAC
2018 SD
2018 STL

In [26]:
team_summaries[2011]['GB']

               mean_points  drive_count  avg_yards
yard_line_bin
0-25              2.500000          100       36.0
25-50             2.983607           61       49.0
50-75             3.500000           26       26.5
75-100            2.500000            4        1.5

In [25]:
team_summaries[2016]['ATL']

               mean_points  drive_count  avg_yards
yard_line_bin
0-25              2.870968          124       46.5
25-50             3.604651           43       49.0
50-75             3.000000           17        9.0
75-100            3.750000            8        8.0

In [6]:
team_summaries[2018]['NO']

               mean_points  drive_count  avg_yards
yard_line_bin
0-25              2.495050          101       33.0
25-50             3.145455           55       36.0
50-75             2.400000           15       21.0
75-100            6.000000            8       16.5

In [54]:
team_summaries[2018]['KC']

               mean_points  drive_count  avg_yards
yard_line_bin
0-25              2.772727          110       47.5
25-50             3.632653           49       51.0
50-75             2.928571           14        9.0
75-100            5.250000            8        6.5

In [55]:
team_summaries[2013]['DEN']

               mean_points  drive_count  avg_yards
yard_line_bin
0-25              2.250000          140       35.5
25-50             3.015873           63       38.0
50-75             4.611111           18       30.0
75-100            5.125000            8       17.5

In [15]:
team_summaries.keys()

dict_keys([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 'LA'])

In [22]:
max_points = 0

avg_team_score = []
avg_team_yds = []

for season in team_summaries.keys():
    season_dict = team_summaries[season]
    for team, summary in season_dict.items():
        avg_points = summary.loc[summary.index == '0-25', 'mean_points'].values[0]
        avg_yds = summary.loc[summary.index == '0-25', 'avg_yards'].values[0]
        avg_team_score.append((season, team, avg_points))
        avg_team_yds.append((season, team, avg_yds))

In [23]:
sorted(avg_team_score, key=lambda x: x[2])[::-1]

[(2016, 'ATL', 2.870967741935484),
 (2018, 'KC', 2.772727272727273),
 (2011, 'NO', 2.633587786259542),
 (2011, 'GB', 2.5),
 (2018, 'NO', 2.495049504950495),
 (2010, 'NE', 2.4831460674157304),
 (2011, 'NE', 2.479338842975207),
 (2016, 'NO', 2.40625),
 (2017, 'NE', 2.4044117647058822),
 (2009, 'IND', 2.319672131147541),
 (2016, 'GB', 2.3089430894308944),
 (2016, 'NE', 2.282051282051282),
 (2016, 'DAL', 2.2549019607843137),
 (2013, 'DEN', 2.25),
 (2012, 'NE', 2.2338709677419355),
 (2009, 'MIN', 2.2298850574712645),
 (2009, 'NO', 2.202020202020202),
 (2018, 'NE', 2.168),
 (2018, 'PIT', 2.1551724137931036),
 (2012, 'NO', 2.1484375),
 (2014, 'GB', 2.1454545454545455),
 (2014, 'NE', 2.1363636363636362),
 (2018, 'ATL', 2.1315789473684212),
 (2016, 'IND', 2.125),
 (2012, 'GB', 2.1192660550458715),
 (2017, 'NO', 2.1083333333333334),
 (2017, 'PHI', 2.0977443609022557),
 (2018, 'LAC', 2.09375),
 (2011, 'SD', 2.0792079207920793),
 (2009, 'SD', 2.0625),
 (2012, 'SF', 2.0350877192982457),
 (2016, 'SD', 2.017094017094017),
 (2016, 'WAS', 2.0089285714285716),
 (2014, 'DAL', 2.0),
 (2009, 'PIT', 2.0),
 (2013, 'NO', 1.992),
 (2010, 'HOU', 1.9821428571428572),
 (2015, 'ARI', 1.9777777777777779),
 (2014, 'NO', 1.9765625),
 (2017, 'CAR', 1.9711538461538463),
 (2018, 'BAL', 1.963302752293578),
 (2018, 'LA', 1.9603174603174602),
 (2010, 'NO', 1.9550561797752808),
 (2015, 'NO', 1.9504132231404958),
 (2016, 'DET', 1.9416666666666667),
 (2017, 'PIT', 1.9333333333333333),
 (2010, 'IND', 1.9181818181818182),
 (2012, 'ATL', 1.910569105691057),
 (2013, 'GB', 1.8916666666666666),
 (2013, 'SD', 1.8907563025210083),
 (2017, 'KC', 1.889908256880734),
 (2018, 'CAR', 1.8796296296296295),
 (2018, 'IND', 1.874074074074074),
 (2012, 'NYG', 1.858695652173913),
 (2015, 'OAK', 1.8584905660377358),
 (2012, 'DEN', 1.8508771929824561),
 (2016, 'BUF', 1.8495575221238938),
 (2015, 'ATL', 1.837837837837838),
 (2016, 'PIT', 1.828125),
 (2014, 'PIT', 1.824),
 (2010, 'ATL', 1.8125),
 (2012, 'SEA', 1.8113207547169812),
 (2018, 'DAL', 1.7938931297709924),
 (2012, 'DET', 1.7938931297709924),
 (2016, 'ARI', 1.793103448275862),
 (2018, 'SEA', 1.7833333333333334),
 (2017, 'MIN', 1.7804878048780488),
 (2018, 'NYG', 1.7777777777777777),
 (2013, 'CHI', 1.766990291262136),
 (2009, 'GB', 1.7628865979381443),
 (2017, 'DAL', 1.7551020408163265),
 (2017, 'SF', 1.75),
 (2015, 'CAR', 1.75),
 (2014, 'PHI', 1.7478260869565216),
 (2014, 'BAL', 1.743801652892562),
 (2015, 'PIT', 1.7430555555555556),
 (2018, 'DET', 1.7410714285714286),
 (2016, 'OAK', 1.7377049180327868),
 (2015, 'NYG', 1.736842105263158),
 (2018, 'CIN', 1.7352941176470589),
 (2018, 'SF', 1.7338709677419355),
 (2011, 'HOU', 1.73109243697479),
 (2018, 'GB', 1.7232142857142858),
 (2017, 'LAC', 1.72),
 (2015, 'NE', 1.7154471544715446),
 (2017, 'ATL', 1.7153846153846153),
 (2015, 'GB', 1.7092198581560283),
 (2013, 'ATL', 1.7086614173228347),
 (2014, 'SD', 1.7083333333333333),
 (2017, 'LA', 1.7064220183486238),
 (2011, 'CAR', 1.7033898305084745),
 (2012, 'DAL', 1.7024793388429753),
 (2015, 'SEA', 1.7017543859649122),
 (2013, 'IND', 1.6991869918699187),
 (2012, 'WAS', 1.6962962962962962),
 (2016, 'TEN', 1.6893203883495145),
 (2013, 'DAL', 1.6893203883495145),
 (2018, 'PHI', 1.6837606837606838),
 (2018, 'TB', 1.6833333333333333),
 (2015, 'DET', 1.6829268292682926),
 (2015, 'KC', 1.679245283018868),
 (2011, 'DET', 1.6722689075630253),
 (2014, 'ATL', 1.6696428571428572),
 (2016, 'JAC', 1.6666666666666667),
 (2009, 'NE', 1.6666666666666667),
 (2017, 'DET', 1.6407766990291262),
 (2012, 'CAR', 1.6377952755905512),
 (2016, 'TB', 1.6347826086956523),
 (2016, 'CHI', 1.6140350877192982),
 (2015, 'BUF', 1.6140350877192982),
 (2013, 'CAR', 1.613861386138614),
 (2010, 'GB', 1.6036036036036037),
 (2017, 'TEN', 1.6031746031746033),
 (2011, 'NYG', 1.6025641025641026),
 (2015, 'CIN', 1.5963302752293578),
 (2012, 'TB', 1.5950413223140496),
 (2014, 'MIA', 1.5922330097087378),
 (2017, 'JAX', 1.5838926174496644),
 (2010, 'SD', 1.5813953488372092),
 (2013, 'SEA', 1.5794392523364487),
 (2013, 'SF', 1.5794392523364487),
 (2009, 'ATL', 1.5783132530120483),
 (2013, 'DET', 1.5772357723577235),
 (2017, 'GB', 1.575221238938053),
 (2015, 'TB', 1.5714285714285714),
 (2016, 'CIN', 1.5655737704918034),
 (2012, 'IND', 1.5629629629629629),
 (2015, 'NYJ', 1.5495495495495495),
 (2013, 'KC', 1.5490196078431373),
 (2014, 'NYG', 1.5403225806451613),
 (2013, 'NE', 1.5384615384615385),
 (2014, 'DEN', 1.5333333333333334),
 (2016, 'SEA', 1.5221238938053097),
 (2018, 'CHI', 1.5192307692307692),
 (2012, 'BAL', 1.5170068027210883),
 (2011, 'PHI', 1.509433962264151),
 (2014, 'CIN', 1.5045045045045045),
 (2014, 'SEA', 1.5043478260869565),
 (2017, 'HOU', 1.5),
 (2015, 'JAC', 1.5),
 (2014, 'IND', 1.5),
 (2011, 'BUF', 1.5),
 (2018, 'CLE', 1.4919354838709677),
 (2015, 'SD', 1.4892086330935252),
 (2017, 'OAK', 1.4803921568627452),
 (2013, 'PHI', 1.4803149606299213),
 (2014, 'SF', 1.4774774774774775),
 (2015, 'CHI', 1.4722222222222223),
 (2017, 'TB', 1.4700854700854702),
 (2010, 'PHI', 1.4675324675324675),
 (2015, 'BAL', 1.4608695652173913),
 (2013, 'MIN', 1.4594594594594594),
 (2011, 'TEN', 1.4576271186440677),
 (2017, 'WAS', 1.4553571428571428),
 (2016, 'BAL', 1.4491525423728813),
 (2014, 'WAS', 1.4485294117647058),
 (2012, 'PIT', 1.4462809917355373),
 (2009, 'TEN', 1.4368932038834952),
 (2013, 'CIN', 1.4330708661417322),
 (2015, 'DAL', 1.4308943089430894),
 (2013, 'STL', 1.4285714285714286),
 (2010, 'DET', 1.4285714285714286),
 (2010, 'NYJ', 1.4166666666666667),
 (2016, 'KC', 1.4141414141414141),
 (2017, 'SEA', 1.412280701754386),
 (2011, 'OAK', 1.4098360655737705),
 (2012, 'SD', 1.4056603773584906),
 (2010, 'OAK', 1.4018691588785046),
 (2015, 'WAS', 1.4017094017094016),
 (2015, 'MIN', 1.3980582524271845),
 (2014, 'KC', 1.3932584269662922),
 (2009, 'CIN', 1.391304347826087),
 (2009, 'PHI', 1.3893805309734513),
 (2011, 'NYJ', 1.3873873873873874),
 (2013, 'TEN', 1.3839285714285714),
 (2017, 'CIN', 1.380952380952381),
 (2010, 'DEN', 1.38),
 (2013, 'ARI', 1.375),
 (2010, 'TB', 1.375),
 (2015, 'PHI', 1.373134328358209),
 (2014, 'CAR', 1.3643410852713178),
 (2011, 'DAL', 1.3611111111111112),
 (2018, 'OAK', 1.3583333333333334),
 (2018, 'MIA', 1.3557692307692308),
 (2016, 'NYJ', 1.3445378151260505),
 (2014, 'NYJ', 1.3423423423423424),
 (2012, 'MIN', 1.3421052631578947),
 (2009, 'JAC', 1.3370786516853932),
 (2012, 'OAK', 1.3358778625954197),
 (2011, 'MIA', 1.3302752293577982),
 (2009, 'DAL', 1.3240740740740742),
 (2016, 'JAX', 1.3217391304347825),
 (2018, 'HOU', 1.3203883495145632),
 (2018, 'DEN', 1.317829457364341),
 (2014, 'DET', 1.309090909090909),
 (2011, 'BAL', 1.3083333333333333),
 (2009, 'HOU', 1.3068181818181819),
 (2009, 'NYG', 1.305263157894737),
 (2014, 'HOU', 1.305084745762712),
 (2018, 'MIN', 1.3018867924528301),
 (2009, 'ARI', 1.2950819672131149),
 (2017, 'DEN', 1.2913385826771653),
 (2012, 'HOU', 1.289855072463768),
 (2012, 'BUF', 1.2892561983471074),
 (2010, 'PIT', 1.2842105263157895),
 (2018, 'TEN', 1.2727272727272727),
 (2015, 'HOU', 1.2727272727272727),
 (2011, 'PIT', 1.2727272727272727),
 (2010, 'JAC', 1.2692307692307692),
 (2016, 'CLE', 1.2681159420289856),
 (2009, 'NYJ', 1.2673267326732673),
 (2012, 'CIN', 1.2608695652173914),
 (2009, 'CHI', 1.2602739726027397),
 (2009, 'WAS', 1.2577319587628866),
 (2010, 'BAL', 1.2571428571428571),
 (2017, 'MIA', 1.2521739130434784),
 (2016, 'PHI', 1.25),
 (2014, 'BUF', 1.25),
 (2011, 'ARI', 1.2481203007518797),
 (2013, 'PIT', 1.2476190476190476),
 (2009, 'MIA', 1.2427184466019416),
 (2012, 'MIA', 1.2372881355932204),
 (2015, 'DEN', 1.2333333333333334),
 (2016, 'CAR', 1.233009708737864),
 (2011, 'ATL', 1.232),
 (2011, 'SF', 1.2277227722772277),
 (2012, 'PHI', 1.226890756302521),
 (2015, 'MIA', 1.2166666666666666),
 (2016, 'MIA', 1.2149532710280373),
 (2015, 'IND', 1.2142857142857142),
 (2010, 'MIA', 1.2117647058823529),
 (2010, 'SEA', 1.21),
 (2012, 'TEN', 1.2096774193548387),
 (2015, 'CLE', 1.1981981981981982),
 (2018, 'WAS', 1.1981132075471699),
 (2014, 'ARI', 1.1968503937007875),
 (2013, 'OAK', 1.1923076923076923),
 (2012, 'CLE', 1.1904761904761905),
 (2016, 'NYG', 1.188976377952756),
 (2016, 'SF', 1.1838235294117647),
 (2009, 'DEN', 1.1826923076923077),
 (2010, 'DAL', 1.1770833333333333),
 (2017, 'BUF', 1.176923076923077),
 (2010, 'BUF', 1.170731707317073),
 (2009, 'BAL', 1.160919540229885),
 (2017, 'IND', 1.1565217391304348),
 (2015, 'TEN', 1.1538461538461537),
 (2017, 'NYJ', 1.1507936507936507),
 (2010, 'NYG', 1.148936170212766),
 (2011, 'TB', 1.1475409836065573),
 (2013, 'BAL', 1.146551724137931),
 (2013, 'MIA', 1.1452991452991452),
 (2016, 'MIN', 1.1428571428571428),
 (2013, 'WAS', 1.128787878787879),
 (2014, 'CLE', 1.1209677419354838),
 (2012, 'CHI', 1.1195652173913044),
 (2010, 'CLE', 1.119047619047619),
 (2013, 'TB', 1.1068702290076335),
 (2014, 'CHI', 1.1023622047244095),
 (2010, 'TEN', 1.0930232558139534),
 (2015, 'SF', 1.0873015873015872),
 (2016, 'DEN', 1.0852713178294573),
 (2017, 'BAL', 1.0824742268041236),
 (2011, 'IND', 1.0785714285714285),
 (2009, 'CAR', 1.074766355140187),
 (2012, 'STL', 1.0737704918032787),
 (2015, 'STL', 1.0695652173913044),
 (2010, 'CIN', 1.0595238095238095),
 (2011, 'CLE', 1.0576923076923077),
 (2010, 'WAS', 1.0555555555555556),
 (2011, 'CIN', 1.0434782608695652),
 (2013, 'BUF', 1.0413793103448277),
 (2013, 'NYJ', 1.0390625),
 (2014, 'STL', 1.0341880341880343),
 (2012, 'KC', 1.0327868852459017),
 (2011, 'MIN', 1.032520325203252),
 (2011, 'WAS', 1.0263157894736843),
 (2018, 'NYJ', 1.0258620689655173),
 (2014, 'TB', 1.0245901639344261),
 (2017, 'NYG', 1.0078740157480315),
 (2013, 'NYG', 1.0),
 (2009, 'DET', 0.9904761904761905),
 (2011, 'DEN', 0.987012987012987),
 (2012, 'JAC', 0.9850746268656716),
 (2011, 'CHI', 0.9824561403508771),
 (2017, 'CHI', 0.981651376146789),
 (2018, 'BUF', 0.9805825242718447),
 (2016, 'HOU', 0.9770992366412213),
 (2009, 'SF', 0.9705882352941176),
 (2017, 'ARI', 0.9696969696969697),
 (2014, 'TEN', 0.968503937007874),
 (2016, 'LA', 0.9649122807017544),
 (2013, 'CLE', 0.9523809523809523),
 (2010, 'SF', 0.9361702127659575),
 (2013, 'HOU', 0.9323308270676691),
 (2013, 'JAC', 0.926829268292683),
 (2018, 'JAX', 0.9174311926605505),
 (2017, 'CLE', 0.9152542372881356),
 (2014, 'MIN', 0.91),
 (2010, 'ARI', 0.90625),
 (2011, 'SEA', 0.9029126213592233),
 (2011, 'JAC', 0.8909090909090909),
 (2009, 'KC', 0.8653846153846154),
 (2014, 'JAC', 0.835820895522388),
 (2014, 'OAK', 0.8321678321678322),
 (2009, 'STL', 0.8163265306122449),
 (2009, 'TB', 0.8068181818181818),
 (2009, 'SEA', 0.8),
 (2010, 'CAR', 0.7959183673469388),
 (2010, 'KC', 0.7674418604651163),
 (2010, 'MIN', 0.7317073170731707),
 (2011, 'KC', 0.7235772357723578),
 (2012, 'NYJ', 0.7142857142857143),
 (2009, 'CLE', 0.7142857142857143),
 (2012, 'ARI', 0.6949152542372882),
 (2018, 'ARI', 0.6782608695652174),
 (2010, 'STL', 0.6774193548387096),
 (2009, 'BUF', 0.6629213483146067),
 (2009, 'OAK', 0.6090909090909091),
 (2010, 'CHI', 0.5425531914893617),
 (2011, 'STL', 0.4112903225806452)]

In [24]:
sorted(avg_team_yds, key=lambda x: x[2])[::-1]

[(2011, 'NO', 52),
 (2011, 'NE', 48),
 (2018, 'KC', 47.5),
 (2016, 'ATL', 46.5),
 (2011, 'SD', 45.0),
 (2013, 'SD', 43.0),
 (2017, 'PIT', 42),
 (2018, 'NE', 41),
 (2016, 'NO', 40.5),
 (2012, 'NE', 40.5),
 (2016, 'NE', 40.0),
 (2013, 'GB', 38),
 (2009, 'NO', 38.0),
 (2017, 'NE', 37.5),
 (2018, 'LA', 37.0),
 (2016, 'GB', 37.0),
 (2016, 'WAS', 37.0),
 (2012, 'SF', 37),
 (2018, 'ATL', 36.5),
 (2011, 'GB', 36.0),
 (2009, 'NE', 36.0),
 (2009, 'MIN', 36),
 (2013, 'DEN', 35.5),
 (2017, 'CAR', 35.0),
 (2017, 'KC', 35.0),
 (2017, 'PHI', 35),
 (2014, 'PIT', 35),
 (2009, 'SD', 35.0),
 (2017, 'ATL', 34.5),
 (2017, 'MIN', 34),
 (2016, 'DET', 34),
 (2016, 'DAL', 34),
 (2012, 'NYG', 34.0),
 (2017, 'NO', 33.5),
 (2018, 'NO', 33.0),
 (2018, 'BAL', 33.0),
 (2017, 'TB', 33),
 (2015, 'PIT', 33.0),
 (2015, 'ATL', 33.0),
 (2012, 'ATL', 33),
 (2011, 'CAR', 33),
 (2014, 'DET', 32.5),
 (2018, 'DAL', 32.0),
 (2017, 'SF', 32.0),
 (2016, 'IND', 32.0),
 (2014, 'GB', 32.0),
 (2012, 'IND', 32),
 (2015, 'CHI', 31.5),
 (2014, 'NO', 31.5),
 (2012, 'DEN', 31.5),
 (2009, 'PIT', 31.5),
 (2018, 'NYG', 31),
 (2015, 'ARI', 31),
 (2015, 'NO', 31.0),
 (2015, 'TB', 31),
 (2013, 'NO', 31),
 (2012, 'GB', 31),
 (2009, 'GB', 31.0),
 (2018, 'DET', 30.5),
 (2018, 'CAR', 30.5),
 (2018, 'TB', 30.5),
 (2010, 'NYJ', 30.5),
 (2009, 'IND', 30.5),
 (2016, 'CIN', 30),
 (2013, 'IND', 30.0),
 (2011, 'HOU', 30.0),
 (2010, 'NO', 30.0),
 (2009, 'NYG', 30.0),
 (2018, 'SF', 29.5),
 (2015, 'SEA', 29.5),
 (2015, 'NYG', 29.5),
 (2012, 'SEA', 29.5),
 (2018, 'LAC', 29),
 (2018, 'HOU', 29.0),
 (2018, 'PIT', 29.0),
 (2016, 'CHI', 29.0),
 (2015, 'KC', 29),
 (2014, 'SEA', 29.0),
 (2014, 'MIA', 29.0),
 (2014, 'BAL', 29),
 (2011, 'PIT', 29.0),
 (2010, 'TB', 29.0),
 (2010, 'NE', 29),
 (2009, 'HOU', 29),
 (2014, 'NE', 28.5),
 (2014, 'ATL', 28.5),
 (2010, 'HOU', 28.5),
 (2018, 'IND', 28.0),
 (2017, 'LA', 28.0),
 (2017, 'DAL', 28),
 (2014, 'SF', 28.0),
 (2014, 'PHI', 28.0),
 (2012, 'CAR', 28),
 (2009, 'JAC', 28),
 (2018, 'GB', 27.5),
 (2018, 'CHI', 27.5),
 (2011, 'PHI', 27.5),
 (2010, 'IND', 27.5),
 (2017, 'DET', 27.0),
 (2017, 'LAC', 27.0),
 (2016, 'BAL', 27),
 (2015, 'CLE', 27),
 (2014, 'DAL', 27.0),
 (2013, 'CHI', 27),
 (2013, 'NE', 27),
 (2011, 'DET', 27.0),
 (2010, 'ATL', 27),
 (2010, 'PHI', 27.0),
 (2014, 'SD', 26.5),
 (2010, 'JAC', 26.5),
 (2018, 'CIN', 26.0),
 (2016, 'SEA', 26.0),
 (2015, 'SD', 26.0),
 (2013, 'DET', 26),
 (2013, 'ATL', 26),
 (2013, 'PHI', 26),
 (2012, 'OAK', 26.0),
 (2009, 'DAL', 26),
 (2017, 'OAK', 25.5),
 (2012, 'SD', 25.5),
 (2011, 'DAL', 25.5),
 (2011, 'TEN', 25.5),
 (2016, 'KC', 25.0),
 (2016, 'TB', 25),
 (2015, 'NE', 25.0),
 (2015, 'MIN', 25),
 (2014, 'CAR', 25.0),
 (2012, 'DAL', 25.0),
 (2012, 'KC', 25.0),
 (2011, 'OAK', 25.0),
 (2011, 'NYG', 25),
 (2010, 'MIA', 25.0),
 (2018, 'CLE', 24.5),
 (2016, 'OAK', 24.5),
 (2016, 'ARI', 24.5),
 (2013, 'KC', 24.5),
 (2018, 'BUF', 24.0),
 (2017, 'JAX', 24),
 (2015, 'DET', 24.0),
 (2012, 'TB', 24),
 (2011, 'BAL', 24.0),
 (2011, 'ATL', 24),
 (2013, 'ARI', 23.5),
 (2009, 'DEN', 23.5),
 (2018, 'OAK', 23),
 (2016, 'NYJ', 23.0),
 (2015, 'OAK', 23.0),
 (2015, 'BAL', 23),
 (2014, 'WAS', 23.0),
 (2013, 'DAL', 23.0),
 (2013, 'CAR', 23),
 (2012, 'NO', 23.0),
 (2012, 'MIN', 23),
 (2010, 'OAK', 23.0),
 (2010, 'GB', 23.0),
 (2010, 'PIT', 23),
 (2009, 'TEN', 23.0),
 (2009, 'BAL', 23),
 (2016, 'PIT', 22.5),
 (2011, 'CLE', 22.5),
 (2010, 'DET', 22.5),
 (2016, 'BUF', 22),
 (2016, 'PHI', 22.0),
 (2015, 'JAC', 22),
 (2015, 'GB', 22),
 (2015, 'DAL', 22.0),
 (2014, 'HOU', 22),
 (2014, 'CIN', 22.0),
 (2014, 'IND', 22.0),
 (2013, 'CIN', 22.0),
 (2013, 'PIT', 22),
 (2012, 'DET', 22.0),
 (2012, 'CHI', 22),
 (2012, 'BAL', 22.0),
 (2011, 'TB', 22.0),
 (2011, 'BUF', 22.0),
 (2010, 'BAL', 22.0),
 (2009, 'PHI', 22),
 (2014, 'DEN', 21.5),
 (2014, 'NYG', 21.5),
 (2018, 'DEN', 21.0),
 (2018, 'MIA', 21.0),
 (2016, 'CAR', 21),
 (2016, 'HOU', 21.0),
 (2015, 'PHI', 21.0),
 (2014, 'ARI', 21.0),
 (2014, 'KC', 21.0),
 (2014, 'MIN', 21),
 (2013, 'SEA', 21.0),
 (2013, 'SF', 21),
 (2012, 'MIA', 21.0),
 (2012, 'CIN', 21.0),
 (2011, 'WAS', 21.0),
 (2009, 'NYJ', 21),
 (2009, 'WAS', 21.0),
 (2009, 'MIA', 21),
 (2009, 'ATL', 21),
 (2018, 'TEN', 20.5),
 (2010, 'SD', 20.5),
 (2010, 'CIN', 20.5),
 (2010, 'CLE', 20.5),
 (2018, 'SEA', 20.0),
 (2018, 'PHI', 20),
 (2017, 'NYG', 20.0),
 (2016, 'SD', 20.0),
 (2016, 'MIN', 20.0),
 (2015, 'CIN', 20.0),
 (2013, 'HOU', 20.0),
 (2013, 'MIN', 20.0),
 (2012, 'WAS', 20),
 (2012, 'HOU', 20.0),
 (2012, 'PHI', 20),
 (2011, 'SF', 20.0),
 (2010, 'DEN', 20),
 (2010, 'ARI', 20),
 (2010, 'MIN', 20),
 (2009, 'STL', 20.0),
 (2018, 'WAS', 19.5),
 (2017, 'BUF', 19.5),
 (2013, 'TEN', 19.5),
 (2012, 'STL', 19.5),
 (2018, 'MIN', 19.0),
 (2017, 'MIA', 19.0),
 (2016, 'JAX', 19.0),
 (2015, 'WAS', 19.0),
 (2015, 'TEN', 19.0),
 (2015, 'MIA', 19.0),
 (2014, 'NYJ', 19.0),
 (2014, 'CHI', 19.0),
 (2013, 'WAS', 19.0),
 (2013, 'MIA', 19.0),
 (2013, 'BUF', 19),
 (2012, 'PIT', 19),
 (2012, 'CLE', 19.0),
 (2011, 'MIA', 19.0),
 (2010, 'DAL', 19),
 (2010, 'WAS', 19),
 (2009, 'DET', 19.0),
 (2009, 'TB', 19.0),
 (2013, 'OAK', 18.5),
 (2010, 'NYG', 18.5),
 (2009, 'CIN', 18.5),
 (2017, 'GB', 18.0),
 (2017, 'DEN', 18.0),
 (2016, 'TEN', 18),
 (2016, 'CLE', 18.0),
 (2015, 'NYJ', 18.0),
 (2014, 'JAC', 18.0),
 (2011, 'MIN', 18),
 (2011, 'CIN', 18.0),
 (2009, 'ARI', 18),
 (2017, 'ARI', 17.5),
 (2017, 'CLE', 17.5),
 (2015, 'BUF', 17.5),
 (2014, 'CLE', 17.5),
 (2013, 'NYJ', 17.5),
 (2012, 'TEN', 17.5),
 (2010, 'KC', 17.5),
 (2010, 'SF', 17.5),
 (2017, 'WAS', 17),
 (2015, 'DEN', 17.0),
 (2015, 'CAR', 17.0),
 (2014, 'TEN', 17),
 (2013, 'NYG', 17),
 (2012, 'NYJ', 17.0),
 (2011, 'SEA', 17),
 (2017, 'SEA', 16.5),
 (2016, 'LA', 16.5),
 (2016, 'SF', 16.5),
 (2015, 'HOU', 16.5),
 (2013, 'CLE', 16.5),
 (2017, 'BAL', 16),
 (2016, 'NYG', 16.0),
 (2015, 'STL', 16.0),
 (2014, 'BUF', 16.0),
 (2013, 'JAC', 16),
 (2012, 'BUF', 16.0),
 (2011, 'STL', 16.0),
 (2011, 'ARI', 16),
 (2011, 'KC', 16.0),
 (2009, 'CHI', 16.0),
 (2009, 'CAR', 16.0),
 (2015, 'SF', 15.5),
 (2018, 'JAX', 15.0),
 (2017, 'CIN', 15),
 (2015, 'IND', 15),
 (2014, 'STL', 15.0),
 (2014, 'OAK', 15),
 (2011, 'NYJ', 15),
 (2011, 'CHI', 15),
 (2010, 'BUF', 15),
 (2017, 'NYJ', 14.5),
 (2010, 'SEA', 14.5),
 (2009, 'KC', 14.5),
 (2017, 'CHI', 14.0),
 (2017, 'HOU', 14),
 (2017, 'TEN', 14.0),
 (2017, 'IND', 14),
 (2016, 'DEN', 14.0),
 (2013, 'TB', 14),
 (2013, 'BAL', 14),
 (2011, 'JAC', 14.0),
 (2009, 'BUF', 14.0),
 (2018, 'NYJ', 13.5),
 (2016, 'JAC', 13.5),
 (2013, 'STL', 13.5),
 (2011, 'DEN', 13.5),
 (2009, 'CLE', 13.5),
 (2014, 'TB', 13.0),
 (2012, 'JAC', 12.5),
 (2016, 'MIA', 12),
 (2009, 'SF', 12.0),
 (2010, 'TEN', 11.5),
 (2018, 'ARI', 11),
 (2012, 'ARI', 11.0),
 (2009, 'SEA', 10.0),
 (2011, 'IND', 9.5),
 (2010, 'CAR', 9.5),
 (2009, 'OAK', 9.5),
 (2010, 'STL', 9),
 (2010, 'CHI', 9.0)]

In [27]:
kc_drives = team_drives_pipeline(
    game_file='./data/%i_games_dict.json' % 2018, team='KC', side='o',
    url='http://www.nfl.com/liveupdate/game-center/'
)

In [78]:
def format_team_drives(team, game_file):
    team_drives = team_drives_pipeline(
        game_file=game_file, team=team, side='o',
        url='http://www.nfl.com/liveupdate/game-center/'
    )
    df = pd.DataFrame(team_drives)
    df['drive_id'] = df.index
    df['points'] = 0
    df.loc[df['result'] == 'Touchdown', 'points'] = 7
    df.loc[df['result'] == 'Field Goal', 'points'] = 3
    df['total_yards'] = df['penalty_yards'] + df['yards_gained']
    lower = np.arange(0, 100, 10)
    upper = np.arange(10, 110, 10)
    bins_list = list(zip(lower, upper))
    bins = pd.IntervalIndex.from_tuples(bins_list)
    df['yard_line_bin'] = pd.cut(df['start_yard_line'], bins)
    df['yard_line_bin'] = df['yard_line_bin'].map(lambda x: '%s-%s' % (x.left, x.right))
    df['is_touchdown'] = 0
    df.loc[df['result'] == 'Touchdown', 'is_touchdown'] = 1
    return df

In [79]:
kc = format_team_drives('KC', game_file='./data/%i_games_dict.json' % 2018)

kc.head()

,drive_time,game_id,n_plays,offensive_team,opponent,penalty_yards,result,start_quarter,start_time,start_yard_line,team,yards_gained,drive_id,points,total_yards,yard_line_bin,is_touchdown
0,2:41,2018090908,7,KC,LAC,0,Touchdown,1,09:20,25.0,KC,75,0,7,75,20-30,1
1,1:01,2018090908,4,KC,LAC,0,Punt,1,05:03,12.0,KC,4,1,0,4,10-20,0
2,1:23,2018090908,7,KC,LAC,0,Punt,1,00:21,25.0,KC,30,2,0,30,20-30,0
3,5:47,2018090908,13,KC,LAC,0,Field Goal,2,07:47,25.0,KC,47,3,3,47,20-30,0
4,0:51,2018090908,8,KC,LAC,-5,End of Half,2,00:51,10.0,KC,47,4,0,42,0-10,0

In [93]:
den = format_team_drives('DEN', game_file='./data/%i_games_dict.json' % 2013)

den.head()

,drive_time,game_id,n_plays,offensive_team,opponent,penalty_yards,result,start_quarter,start_time,start_yard_line,team,yards_gained,drive_id,points,total_yards,yard_line_bin,is_touchdown
0,2:01,2013090500,7,DEN,BAL,0,Punt,1,13:10,23.0,DEN,18,0,0,18,20-30,0
1,3:32,2013090500,9,DEN,BAL,0,Punt,1,07:11,20.0,DEN,41,1,0,41,10-20,0
2,1:48,2013090500,7,DEN,BAL,5,Punt,2,14:45,29.0,DEN,8,2,0,13,20-30,0
3,0:05,2013090500,2,DEN,BAL,0,Touchdown,2,11:40,76.0,DEN,24,3,7,24,70-80,1
4,2:29,2013090500,9,DEN,BAL,-10,Touchdown,2,08:03,20.0,DEN,90,4,7,80,10-20,1

In [80]:
atl = format_team_drives('ATL', game_file='./data/%i_games_dict.json' % 2016)

atl.head()

,drive_time,game_id,n_plays,offensive_team,opponent,penalty_yards,result,start_quarter,start_time,start_yard_line,team,yards_gained,drive_id,points,total_yards,yard_line_bin,is_touchdown
0,2:06,2016091100,5,ATL,TB,0,Punt,1,15:00,19.0,ATL,9,0,0,9,10-20,0
1,2:44,2016091100,6,ATL,TB,0,Field Goal,1,09:52,25.0,ATL,59,1,3,59,20-30,0
2,1:16,2016091100,4,ATL,TB,0,Punt,1,05:34,36.0,ATL,6,2,0,6,30-40,0
3,2:20,2016091100,7,ATL,TB,-9,Touchdown,1,02:31,87.0,ATL,22,3,7,13,80-90,1
4,3:31,2016091100,8,ATL,TB,0,Punt,2,10:25,25.0,ATL,31,4,0,31,20-30,0

In [81]:
kc['total_yards'].describe()

count    183.000000
mean      38.928962
std       32.341590
min      -15.000000
25%        5.000000
50%       35.000000
75%       73.000000
max       99.000000
Name: total_yards, dtype: float64

In [82]:
atl['total_yards'].describe()

count    193.000000
mean      39.834197
std       32.368057
min      -21.000000
25%        9.000000
50%       39.000000
75%       74.000000
max       99.000000
Name: total_yards, dtype: float64

In [83]:
kc['start_yard_line'].describe([.1, .2, .3, .4])

count    181.000000
mean      30.088398
std       18.604746
min        1.000000
10%       11.000000
20%       20.000000
30%       23.000000
40%       25.000000
50%       25.000000
max       98.000000
Name: start_yard_line, dtype: float64

In [84]:
atl['start_yard_line'].describe([.1, .2, .3, .4])

count    192.000000
mean      29.348958
std       18.717746
min        1.000000
10%        9.100000
20%       19.000000
30%       21.000000
40%       25.000000
50%       25.000000
max       97.000000
Name: start_yard_line, dtype: float64

In [85]:
np.log(1.1)

0.09531017980432493

In [86]:
np.log(1.9)

0.6418538861723947

In [87]:
np.log(1.5)

0.4054651081081644

### Combine all drives, weight by np.log(100 - start_yard_line)

Score all defenses this way, as well, to get an offenses average opponent strength.

In [88]:
kc['is_touchdown'].mean()

0.3879781420765027

In [91]:
atl['is_touchdown'].mean()

0.3626943005181347

In [89]:
kc.groupby('yard_line_bin')['is_touchdown'].agg(['count', 'mean'])

               count      mean
yard_line_bin
0-10              17  0.411765
10-20             31  0.258065
20-30             77  0.402597
30-40             22  0.500000
40-50             12  0.250000
50-60              6  0.166667
60-70              7  0.428571
70-80              5  0.800000
80-90              1  1.000000
90-100             3  0.666667

In [90]:
atl.groupby('yard_line_bin')['is_touchdown'].agg(['count', 'mean'])

               count      mean
yard_line_bin
0-10              23  0.304348
10-20             31  0.354839
20-30             83  0.397590
30-40             17  0.235294
40-50             13  0.461538
50-60             12  0.416667
60-70              5  0.200000
70-80              1  0.000000
80-90              5  0.400000
90-100             2  0.500000

In [95]:
den.groupby('yard_line_bin')['is_touchdown'].agg(['count', 'mean'])

               count      mean
yard_line_bin
0-10              21  0.190476
10-20            101  0.297030
20-30             33  0.363636
30-40             28  0.250000
40-50             20  0.400000
50-60             10  0.500000
60-70              5  0.600000
70-80              9  0.666667
80-90              2  1.000000
90-100             0       NaN

In [97]:
np.log(1.8)

0.5877866649021191

In [99]:
.58 / .40

1.4499999999999997

In [100]:
.5 / .3

1.6666666666666667