***Interesting note: Chiefs v Jags last year was one of Chiefs best defensive, and Jacksonville's worst offensive, games. With Jax O improved, the game could be much closer than last year. Good early season test to see if the defense can hold up against what should be a mediocre offense. If the D doesn't perform this year, the O may need to play Jax better than last year to keep the game comfortable.***

***Were the Chiefs more consistently good on O last year than other good Os? Were they more consistent than other historically good teams? Is consistency one year a predictor of success the next year?***

***How did the top 3 offenses do in the following season?***

***How did second year starters do compared to their first year?***

In [1]:
import numpy as np
import pandas as pd

from score_teams import score_drives
from score_teams import aggregate_game_drives, aggregate_season_drives

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
start_season = 2009
end_season = 2018

In [33]:
ddf = score_drives(start_season, end_season, exclude_playoffs=True)

ddf.head()

,away_final_score,away_team,defensive_team,drive_time,end_quarter,end_time,first_play_desc,game_id,home_final_score,home_score_diff_last_quarter,...,expected_points_opp_from_start,expected_points_opp_from_end,field_position_points,drive_score,offensive_win,defensive_win,tie,nfl_avg_score,adj_offensive_score,adj_defensive_score
0,10,TEN,TEN,1.733333,1,13:16,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,2009091000,13,0,...,1.622397,1.622397,0.000000,-2.231989,1,0,0,2.231989,-2.350130,-2.320163
1,10,TEN,PIT,1.866667,1,11:24,(13:16) C.Johnson up the middle to TEN 2 for n...,2009091000,13,0,...,1.892441,2.450585,-0.558144,-1.507663,0,1,0,0.949518,-1.245928,-1.598065
2,10,TEN,TEN,3.066667,1,08:20,(11:24) B.Roethlisberger pass short right to M...,2009091000,13,0,...,1.622397,1.622397,0.000000,-2.450156,1,0,0,2.450156,-2.568296,-2.538330
3,10,TEN,PIT,1.600000,1,06:44,(8:20) C.Johnson right end to TEN 43 for 32 ya...,2009091000,13,0,...,1.892441,1.622397,0.270044,1.599338,0,1,0,1.421590,1.861072,1.508935
4,10,TEN,TEN,1.916667,1,04:49,(6:44) R.Mendenhall up the middle to PIT 28 fo...,2009091000,13,0,...,1.622397,1.892441,-0.270044,-1.807345,1,0,0,1.537301,-1.925485,-1.895519

In [ ]:
pdf = ddf.groupby(['offensive_team', 'season'], as_index=False).agg(
    {'drive_id': 'count', 'offensive_points': 'sum', 'drive_time': 'sum', 
     'game_id': 'nunique', 'is_touchdown': 'sum', 'expected_points': 'sum',
     'drive_score': 'mean', 'start_yard_line': 'mean', 
     'adj_offensive_score': 'mean'}
)

rename_dict = {
    'offensive_team': 'team',
    'drive_id': 'drive_count',
    'game_id': 'game_count',
    'is_touchdown': 'offensive_tds',
}
pdf = pdf.rename(rename_dict, axis=1)

pdf['points_per_game'] = pdf['offensive_points'] / pdf['game_count']
pdf['epoints_per_game'] = pdf['expected_points'] / pdf['game_count']
pdf['points_per_drive'] = pdf['offensive_points'] / pdf['drive_count']
pdf['epoints_per_drive'] = pdf['expected_points'] / pdf['drive_count']
pdf['td_rate'] = pdf['offensive_tds'] / pdf['drive_count']
pdf = pdf.sort_values('points_per_game', ascending=False)

pdf = pdf.reset_index(drop=True)
pdf.head(5)

,team,season,drive_count,offensive_points,drive_time,game_count,offensive_tds,expected_points,drive_score,start_yard_line,adj_offensive_score,points_per_game,epoints_per_game,points_per_drive,epoints_per_drive,td_rate
0,DEN,2013,203,577,488.283333,16,72,550.964004,1.026537,28.316832,0.958373,36.0625,34.435250,2.842365,2.714108,0.354680
1,KC,2018,172,530,467.016667,16,66,515.423317,1.262845,30.458824,1.173617,33.1250,32.213957,3.081395,2.996647,0.383721
2,NO,2011,175,518,511.633333,16,62,512.791891,1.264180,28.240000,1.171081,32.3750,32.049493,2.960000,2.930239,0.354286
3,GB,2011,184,514,487.733333,16,64,515.692639,1.101392,30.794444,1.043168,32.1250,32.230790,2.793478,2.802677,0.347826
4,NE,2012,190,513,494.833333,16,61,513.542775,1.049743,28.284946,1.103980,32.0625,32.096423,2.700000,2.702857,0.321053

In [ ]:
pdf = pdf.sort_values('points_per_drive', ascending=False)

pdf.head(5)

In [ ]:
pdf = pdf.sort_values('drive_score', ascending=False)

pdf = pdf.reset_index(drop=True)
pdf.head(5)

In [8]:
pdf = pdf.sort_values('adj_offensive_score', ascending=False)

pdf = pdf.reset_index(drop=True)
pdf.head(5)

,team,season,drive_count,offensive_points,drive_time,game_count,offensive_tds,expected_points,drive_score,start_yard_line,adj_offensive_score,points_per_game,epoints_per_game,points_per_drive,epoints_per_drive,td_rate
0,NO,2011,153,476,455.450000,16,56,468.808344,1.430153,27.712418,1.328664,29.7500,29.300521,3.111111,3.064107,0.366013
1,KC,2018,164,530,438.666667,16,66,517.423317,1.382939,30.827160,1.291740,33.1250,32.338957,3.231707,3.155020,0.402439
2,NE,2010,151,445,419.016667,16,55,449.308716,1.058765,31.812081,1.283874,27.8125,28.081795,2.947020,2.975554,0.364238
3,NE,2011,162,463,421.533333,16,54,453.950314,1.223126,28.075000,1.249831,28.9375,28.371895,2.858025,2.802162,0.333333
4,GB,2011,165,490,438.450000,16,61,493.941756,1.278736,30.770186,1.211915,30.6250,30.871360,2.969697,2.993586,0.369697

In [9]:
pdf.describe([.1, .25, .5, .75, .9])

,season,drive_count,offensive_points,drive_time,game_count,offensive_tds,expected_points,drive_score,start_yard_line,adj_offensive_score,points_per_game,epoints_per_game,points_per_drive,epoints_per_drive,td_rate
count,320.00000,320.000000,320.000000,320.000000,320.0,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,2013.50000,171.003125,313.793750,445.448073,16.0,34.325000,299.123380,0.049389,28.192620,0.048377,19.612109,18.695211,1.843547,1.758347,0.201820
std,2.87678,9.851722,67.532191,27.851239,0.0,9.356439,71.039358,0.446270,1.911996,0.434472,4.220762,4.439960,0.426804,0.448231,0.058343
min,2009.00000,148.000000,137.000000,370.066667,16.0,11.000000,118.213204,-1.077212,22.731707,-0.975368,8.562500,7.388325,0.805882,0.724101,0.064706
10%,2009.90000,159.000000,231.900000,411.026667,16.0,22.000000,206.713663,-0.473523,25.985119,-0.464440,14.493750,12.919604,1.337521,1.207748,0.132565
25%,2011.00000,164.000000,268.000000,428.387500,16.0,28.000000,251.791612,-0.286698,26.804207,-0.286127,16.750000,15.736976,1.522639,1.422276,0.157895
50%,2013.50000,170.000000,315.000000,446.266667,16.0,34.000000,300.526475,0.032648,28.108009,0.031234,19.687500,18.782905,1.829857,1.759798,0.198776
75%,2016.00000,178.000000,358.500000,466.304167,16.0,40.000000,350.586088,0.358128,29.372642,0.346468,22.406250,21.911631,2.117457,2.052714,0.240241
90%,2017.10000,184.000000,395.000000,481.230000,16.0,46.000000,385.111906,0.598332,30.670837,0.573699,24.687500,24.069494,2.376301,2.299145,0.278331
max,2018.00000,199.000000,531.000000,515.483333,16.0,67.000000,517.423317,1.430153,33.380435,1.328664,33.187500,32.338957,3.231707,3.155020,0.402439

In [10]:
pdf.corr()

,season,drive_count,offensive_points,drive_time,game_count,offensive_tds,expected_points,drive_score,start_yard_line,adj_offensive_score,points_per_game,epoints_per_game,points_per_drive,epoints_per_drive,td_rate
season,1.000000,-0.192404,0.089538,0.051277,NaN,0.085135,0.086722,0.149146,-0.227428,0.044027,0.089538,0.086722,0.130019,0.123046,0.117137
drive_count,-0.192404,1.000000,-0.104445,0.085558,NaN,-0.133460,-0.135345,-0.387637,0.118507,-0.377388,-0.104445,-0.135345,-0.347953,-0.354242,-0.326232
offensive_points,0.089538,-0.104445,1.000000,0.387272,NaN,0.970857,0.983543,0.927728,0.306399,0.914606,1.000000,0.983543,0.967000,0.950659,0.946457
drive_time,0.051277,0.085558,0.387272,1.000000,NaN,0.322545,0.383657,0.334975,0.139386,0.330608,0.387272,0.383657,0.341427,0.340554,0.289472
game_count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
offensive_tds,0.085135,-0.133460,0.970857,0.322545,NaN,1.000000,0.962717,0.921901,0.256643,0.906010,0.970857,0.962717,0.946434,0.937245,0.978652
expected_points,0.086722,-0.135345,0.983543,0.383657,NaN,0.962717,1.000000,0.945499,0.324620,0.934516,0.983543,1.000000,0.959361,0.972815,0.944995
drive_score,0.149146,-0.387637,0.927728,0.334975,NaN,0.921901,0.945499,1.000000,0.110510,0.980646,0.927728,0.945499,0.972494,0.981439,0.958622
start_yard_line,-0.227428,0.118507,0.306399,0.139386,NaN,0.256643,0.324620,0.110510,1.000000,0.156906,0.306399,0.324620,0.259417,0.279569,0.223628
adj_offensive_score,0.044027,-0.377388,0.914606,0.330608,NaN,0.906010,0.934516,0.980646,0.156906,1.000000,0.914606,0.934516,0.958047,0.969311,0.942233
points_per_game,0.089538,-0.104445,1.000000,0.387272,NaN,0.970857,0.983543,0.927728,0.306399,0.914606,1.000000,0.983543,0.967000,0.950659,0.946457
epoints_per_game,0.086722,-0.135345,0.983543,0.383657,NaN,0.962717,1.000000,0.945499,0.324620,0.934516,0.983543,1.000000,0.959361,0.972815,0.944995
points_per_drive,0.130019,-0.347953,0.967000,0.341427,NaN,0.946434,0.959361,0.972494,0.259417,0.958047,0.967000,0.959361,1.000000,0.986225,0.974803
epoints_per_drive,0.123046,-0.354242,0.950659,0.340554,NaN,0.937245,0.972815,0.981439,0.279569,0.969311,0.950659,0.972815,0.986225,1.000000,0.967376
td_rate,0.117137,-0.326232,0.946457,0.289472,NaN,0.978652,0.944995,0.958622,0.223628,0.942233,0.946457,0.944995,0.974803,0.967376,1.000000

In [11]:
td_rate = ddf.groupby(['season', 'offensive_team'], as_index=False)['is_touchdown'].mean()
td_rate = td_rate.sort_values('is_touchdown', ascending=False)

td_rate.head(20)

     season offensive_team  is_touchdown
303    2018             KC      0.402439
137    2013            DEN      0.374302
75     2011             GB      0.369697
85     2011             NO      0.366013
52     2010             NE      0.364238
309    2018             NO      0.359477
225    2016            ATL      0.356250
84     2011             NE      0.333333
171    2014             GB      0.333333
116    2012             NE      0.307692
276    2017             NE      0.305195
244    2016             NE      0.304878
168    2014            DAL      0.301887
21     2009             NO      0.301775
235    2016             GB      0.301282
245    2016             NO      0.297619
169    2014            DEN      0.297143
232    2016            DAL      0.296970
304    2018             LA      0.296512
13     2009            IND      0.294479

In [12]:
td_rate['is_touchdown'].describe([.05, .25, .5, .75, .95])

count    320.000000
mean       0.201820
std        0.058343
min        0.064706
5%         0.117318
25%        0.157895
50%        0.198776
75%        0.240241
95%        0.297167
max        0.402439
Name: is_touchdown, dtype: float64

In [13]:
score_rate = ddf.groupby(['season', 'offensive_team'], as_index=False)['is_score'].mean()
score_rate = score_rate.sort_values('is_score', ascending=False)

score_rate.head(20)

     season offensive_team  is_score
85     2011             NO  0.549020
303    2018             KC  0.548780
225    2016            ATL  0.543750
309    2018             NO  0.529412
276    2017             NE  0.525974
171    2014             GB  0.513333
75     2011             GB  0.509091
84     2011             NE  0.506173
52     2010             NE  0.503311
137    2013            DEN  0.491620
304    2018             LA  0.488372
180    2014             NE  0.471698
272    2017             LA  0.468208
271    2017             KC  0.467456
116    2012             NE  0.461538
17     2009            LAC  0.461538
235    2016             GB  0.461538
232    2016            DAL  0.460606
245    2016             NO  0.458333
277    2017             NO  0.456954

In [14]:
score_rate['is_score'].describe([.05, .25, .5, .75, .95])

count    320.000000
mean       0.347890
std        0.068966
min        0.182353
5%         0.237170
25%        0.302067
50%        0.345683
75%        0.394257
95%        0.461538
max        0.549020
Name: is_score, dtype: float64

In [24]:
ddf['offense_home'] = ddf['offensive_team'] == ddf['home_team']
ddf['defense_home'] = ddf['defensive_team'] == ddf['home_team']

In [32]:
hdf = ddf.groupby(['season', 'offensive_team', 'offensive_win'], as_index=False)['is_touchdown'].mean()
hdf = hdf.sort_values('is_touchdown', ascending=False)

hdf.head()

     season offensive_team  offensive_win  is_touchdown
445    2015            TEN              1      0.451613
451    2016            ATL              1      0.442308
171    2011             NO              1      0.426230
275    2013            DEN              1      0.421429
606    2018             KC              1      0.415254

AttributeError: Cannot access callable attribute 'groupby' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [18]:
kcdd = ddf.loc[(ddf['defensive_team'] == 'KC') & (ddf['season'] == 2018)]
kcdd_agg = kcdd.groupby(['defensive_team', 'game_id'], as_index=False).agg(
    {'drive_time': 'mean', 'drive_id': 'count', 'defensive_win': 'mean',
     'drive_score': 'mean'}
)

In [19]:
kcdd_agg

,defensive_team,game_id,drive_time,drive_id,defensive_win,drive_score
0,KC,2018090908,2.975000,10,1,0.816833
1,KC,2018091605,3.071667,10,1,2.240370
2,KC,2018092305,2.685417,8,1,1.384325
3,KC,2018100100,2.496667,10,1,0.609214
4,KC,2018100705,2.175000,8,1,-1.588724
5,KC,2018101412,3.012500,12,0,1.444874
6,KC,2018102105,2.337037,9,1,-1.336190
7,KC,2018102805,2.723611,12,1,0.572449
8,KC,2018110403,4.672222,6,1,2.293291
9,KC,2018111105,2.889394,11,1,-0.297063
10,KC,2018111900,2.025556,15,0,0.607469
11,KC,2018120210,2.563889,12,1,1.192692
12,KC,2018120905,3.145000,10,1,0.577620
13,KC,2018121300,3.604167,8,0,1.181305
14,KC,2018122314,2.919444,12,0,1.608783
15,KC,2018123004,3.672917,8,1,-1.276789

In [ ]:
kcodf = gdf.loc[(gdf['offensive_team'] == 'KC') & (gdf['season'] == 2018)]
kcodf

In [ ]:
sodf = gdf.groupby(['offensive_team', 'season'], as_index=False)['adj_offensive_score'].mean()
sodf = sodf.sort_values('adj_offensive_score', ascending=False)

sodf.loc[sodf['season'] == 2018].head()

In [ ]:
sddf = gdf.groupby(['defensive_team', 'season'], as_index=False)['adj_defensive_score'].mean()
sddf = sddf.sort_values('adj_defensive_score', ascending=False)

sddf.loc[sddf['season'] == 2018].head()

In [ ]:
# Adjusted performance splits.
print(kcddf.groupby('defensive_win')['adj_defensive_score'].mean())
print(kcodf.groupby('offensive_win')['adj_offensive_score'].mean())

In [ ]:
# Drive count splits.
print(kcddf.groupby('defensive_win')['drive_count'].mean())
print(kcodf.groupby('offensive_win')['drive_count'].mean())

In [ ]:
# Drive time splits.
print(kcddf.groupby('defensive_win')['avg_drive_time'].mean())
print(kcodf.groupby('offensive_win')['avg_drive_time'].mean())

In [ ]:
print(kcddf.groupby('defensive_win')['is_touchdown'].mean())
print(kcodf.groupby('offensive_win')['is_touchdown'].mean())

In [ ]:
kcodf

In [ ]:
kcddf

In [ ]:
gdf.loc[gdf['season'] == 2018].sort_values('adj_offensive_score', ascending=False)

In [ ]:
gdf['avg_drive_time'].describe([.1, .25, .5, .75, .9])

In [ ]:
gdf.loc[gdf['season'] == 2018].groupby('offensive_team')['adj_offensive_score'].std()

In [ ]:
ddf['drive_time'].describe([.1, .25, .5, .75, .9])

In [ ]:
kcddf['avg_drive_time'].mean()

In [ ]:
kcodf['avg_drive_time'].mean()

In [6]:
agg_columns = {
    'offensive_win': 'win', 
    'defensive_win': 'loss', 
    'tie': 'tie'
}
agg_list = [column for column in agg_columns.keys()]

wldf = gdf.groupby(['season', 'offensive_team'], as_index=False)[agg_list].sum()
agg_columns['offensive_team'] = 'team'
wldf = wldf.rename(agg_columns, axis=1)

print(wldf['win'].describe([.5, .75, .90, .95]))

wldf.head()

count    320.000000
mean       7.978125
std        3.078313
min        0.000000
50%        8.000000
75%       10.000000
90%       12.000000
95%       13.000000
max       15.000000
Name: win, dtype: float64

   season team  win  loss  tie
0    2009  ARI   10     6    0
1    2009  ATL    9     7    0
2    2009  BAL    9     7    0
3    2009  BUF    6    10    0
4    2009  CAR    8     8    0

In [7]:
sodf = aggregate_season_drives(2009, 2018, 'offensive_team', exclude_playoffs=True)

rename_dict = {
    'offensive_team': 'team',
    'drive_score': 'offensive_score'
}

sodf = sodf.rename(rename_dict, axis=1)

sodf.head(10)

                      adj_offensive_score           offensive_score
                                     mean       std            mean       std
season offensive_team
2009   ARI                      -0.199518  0.675489       -0.177095  0.814903
       ATL                       0.445022  0.913319        0.291500  0.908543
       BAL                       0.272180  0.767176        0.220197  0.898049
       BUF                      -0.596438  0.860568       -0.653791  0.776631
       CAR                      -0.179352  0.816724       -0.275106  1.006341
       CHI                      -0.230285  0.584803       -0.328305  0.708216
       CIN                      -0.152866  0.948019       -0.230500  1.034822
       CLE                      -0.651279  0.831284       -0.747611  1.013044
       DAL                       0.312319  0.590812        0.293322  0.700820
       DEN                      -0.263108  0.653284       -0.285850  0.724960

In [8]:
sodf.loc[sodf['season'] == 2018]

KeyError: 'season'

In [9]:
sddf = aggregate_season_drives(2009, 2018, 'defensive_team', exclude_playoffs=True)

rename_dict = {
    'defensive_team': 'team',
    'drive_score': 'defensive_score'
}

sddf = sddf.rename(rename_dict, axis=1)

sddf.head(10)

                      adj_defensive_score           defensive_score
                                     mean       std            mean       std
season defensive_team
2009   ARI                      -0.053338  0.495643       -0.181514  0.674668
       ATL                       0.154772  0.770600        0.097989  1.059865
       BAL                      -0.320488  0.569834       -0.379019  0.889826
       BUF                      -0.256715  0.644227       -0.229831  0.737824
       CAR                      -0.386619  0.682683       -0.315846  0.689732
       CHI                       0.213443  1.110673        0.161798  1.176536
       CIN                      -0.287315  0.627984       -0.383476  0.679914
       CLE                       0.304263  0.989501        0.243571  1.097939
       DAL                      -0.310350  0.690926       -0.329774  0.685971
       DEN                      -0.245345  0.846629       -0.238395  0.893941

In [ ]:
sddf.tail(10)

In [ ]:
sddf.loc[sddf['season'] == 2018]

In [ ]:
def merge_features(sodf, sddf, wldf):
    df = sodf.merge(sddf, on=['season', 'team'])
    df = df.merge(wldf, on=['season', 'team'])
    df = df.sort_values('season')
    return df

In [ ]:
df = merge_features(sodf, sddf, wldf)
df['adj_team_score'] = df['adj_offensive_score'] - df['adj_defensive_score']
df['team_score'] = df['offensive_score'] - df['defensive_score']

df.head()

In [ ]:
df.corr()

In [ ]:
df_lag = df.copy()
df_lag['season'] = df_lag['season'] + 1
df_lag.columns = ['%s_lag' % column for column in df_lag.columns]

df_lag.head()

In [ ]:
fdf = df.merge(
    df_lag, left_on=['season', 'team'], right_on=['season_lag', 'team_lag'], how='left'
)
fdf = fdf.dropna()

fdf.tail()

In [ ]:
fdf.corr()

In [ ]:
features = [
    'adj_offensive_score_lag', 'offensive_score_lag', 
    'adj_defensive_score_lag', 'defensive_score_lag', 
    'adj_team_score_lag', 'team_score_lag', 'win_lag'
]

In [ ]:
from sklearn.linear_model import LinearRegression, Lasso 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error

In [ ]:
test_seasons = range(2015, 2019)
model = LinearRegression()

for test_season in test_seasons:
    train_df = fdf.loc[fdf['season'] < test_season].copy()
    test_df = fdf.loc[fdf['season'] == test_season].copy()
    y_test = test_df['win'].values
    y_scores = test_df['win_lag'].values
    print(test_season, mean_absolute_error(y_test, y_scores))

In [ ]:
test_seasons = range(2015, 2019)
model = LinearRegression()

for test_season in test_seasons:
    train_df = fdf.loc[fdf['season'] < test_season].copy()
    test_df = fdf.loc[fdf['season'] == test_season].copy()
    X_train, y_train = train_df[features].values, train_df['win'].values
    X_test, y_test = test_df[features].values, test_df['win'].values
    model.fit(X_train, y_train)
    y_scores = model.predict(X_test)
    print(test_season, mean_absolute_error(y_test, y_scores))

In [ ]:
test_seasons = range(2015, 2019)
model = KNeighborsRegressor(9)

for test_season in test_seasons:
    train_df = fdf.loc[fdf['season'] < test_season].copy()
    test_df = fdf.loc[fdf['season'] == test_season].copy()
    X_train, y_train = train_df[features].values, train_df['win'].values
    X_test, y_test = test_df[features].values, test_df['win'].values
    model.fit(X_train, y_train)
    y_scores = model.predict(X_test)
    print(test_season, mean_absolute_error(y_test, y_scores))

In [ ]:
test_seasons = range(2015, 2019)
model = RandomForestRegressor(500)

for test_season in test_seasons:
    train_df = fdf.loc[fdf['season'] < test_season].copy()
    test_df = fdf.loc[fdf['season'] == test_season].copy()
    X_train, y_train = train_df[features].values, train_df['win'].values
    X_test, y_test = test_df[features].values, test_df['win'].values
    model.fit(X_train, y_train)
    y_scores = model.predict(X_test)
    print(test_season, mean_absolute_error(y_test, y_scores))

In [ ]:
test_seasons = range(2015, 2019)
model = XGBRegressor(learning_rate=.01, n_estimators=500, max_depth=3,
                     objective='reg:squarederror')

for test_season in test_seasons:
    train_df = fdf.loc[fdf['season'] < test_season].copy()
    test_df = fdf.loc[fdf['season'] == test_season].copy()
    X_train, y_train = train_df[features].values, train_df['win'].values
    X_test, y_test = test_df[features].values, test_df['win'].values
    model.fit(X_train, y_train)
    y_scores = model.predict(X_test)
    print(test_season, mean_absolute_error(y_test, y_scores))

In [ ]:
df.describe()

In [ ]:
ddf.groupby(['season', 'offensive_team'])['game_id'].nunique().max()

### 2018 Chiefs
* Chiefs offense was second most productive offense in last 10 years -- first in 2018 by a long shot
* Chiefs defense was eighth least productive defense in last 10 years -- last in 2018
* Chiefs offensive score in losses was still top 10 in the last 10 years.
* How bad was the defense in losses comparatively?

In [ ]:
kco = gdf.loc[(gdf['offensive_team'] == 'KC') & 
              (gdf['season'] == 2018)]
kco = kco.sort_values('game_id')

kco.groupby('offensive_win')['adj_offensive_score'].mean()

In [ ]:
kcd = gdf.loc[(gdf['defensive_team'] == 'KC') & (gdf['season'] == 2018)]
kcd = kcd.sort_values('game_id')

kcd.groupby('defensive_win')['adj_defensive_score'].mean()

In [ ]:
kco